@import "tailwindcss";

/* БАЗА */
:root {
  font-family: "Montserrat", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}

/* ПЛАВНЫЙ СКРОЛЛ */
html {
  scroll-behavior: smooth;
}

/* УБРАТЬ СТАНДАРТНЫЕ СТИЛИ */
* {
  box-sizing: border-box;
}